.briws-calculator {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: aliceblue;
  padding: 20px;
  border: 1px solid black;
}

.briws-calculator .operations-block button {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.briws-calculator .inputs-block .input-block {
  display: inline-block;
  padding: 10px;
}

.briws-calculator .inputs-block .input-block label {
  display: block;
}