.slider-container {
  display: flex;
  /* border: 1px solid red; */
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

#go-left, 
#go-right {
  cursor: pointer;
  display: block;
}

#slide img {
  display: none;
}

#slide .show {
  display: block;
}