.briws-slider .slide-img {
  width: 50%;
}

.briws-slider {
  width: 50%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}