.briws-calculator {
  .inputs-block {
    .input-block {
      select {
        width: 120px;
        text-align-last: center;
      }
    }
  }
  .operations-block {
    margin-top: 50px;
    button {
      width: 240px;
      height: 40px;
    }
  }
  .result-block {
    margin-top: 20px;
    text-align: center;
  }
}
