* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.briws-calculator {
  width: 450px;
  height: 255px;
  background-color: #CFE2F3;
  padding: 30px;
}
.briws-calculator .operations-block {
  display: flex;
  justify-content: center;
}
.briws-calculator .inputs-block {
  display: flex;
  justify-content: space-between;
}
.briws-calculator .inputs-block .input-block {
  text-align: center;
}
.briws-calculator .inputs-block .input-block input {
  width: 120px;
  text-align: center;
}