.briws-calculator hr {
  border: 1px solid black;
  margin-top: 30px;
}
.briws-calculator .operations-block button {
  width: 240px;
  height: 40px;
}
.briws-calculator .result-block {
  text-align: center;
  margin-top: 55px;
}